* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-isl-eng.eng.dix -text
/apertium-isl-eng.isl-eng.dix -text
/apertium-isl-eng.isl-eng.lex -text
/apertium-isl-eng.isl-eng.lrx -text
/apertium-isl-eng.isl-eng.rlx -text
/apertium-isl-eng.isl-eng.t0x -text
/apertium-isl-eng.isl-eng.t1x -text
/apertium-isl-eng.isl-eng.t2x -text
/apertium-isl-eng.isl-eng.t3x -text
/apertium-isl-eng.isl-eng.t4x -text
/apertium-isl-eng.isl.dix -text
/apertium-isl-eng.isl.tsx -text
/apertium-isl-eng.post-eng.dix -text
/apertiumIceNLP.sh -text
/autogen.sh -text
/configure.ac -text
/demo.sh -text
/detailedDemo.sh -text
dev/NOTES -text
dev/apertium-is-en.is-en.dix.sorted -text
dev/apertiumtag-to-visl.cg3 -text
dev/data/apertium-is-en.is-en.dix.sorted -text
dev/data/is-en.freelang.xml -text
dev/data/is-en.interwiki.xml -text
dev/data/is-en.wiktionary.xml -text
dev/data/is.wordlist.txt -text
dev/data/is_en.txt -text
dev/data/manudir -text
dev/data/newResults.txt.adverbs.xml -text
dev/data/newResults.txt.conj.xml -text
dev/data/newResults.txt.interj.xml -text
dev/data/newResults.txt.leftovers -text
dev/data/newResults.txt.num.xml -text
dev/data/newResults.txt.preps.xml -text
dev/data/oblique.txt -text
dev/data/results.txt.adj.xml -text
dev/data/results.txt.leftovers -text
dev/data/results.txt.nouns.xml -text
dev/data/results.txt.verbs.xml -text
dev/data/snara.adj.final.xml -text
dev/data/snara.adv.final.xml -text
dev/data/snara.british.nouns -text
dev/data/snara.invalid.txt -text
dev/data/snara.isen.wordlist.txt -text
dev/data/snara.nouns.final.xml -text
dev/data/snara.uk.open -text
dev/data/snara.untranslated.nouns -text
dev/data/snara.us.open -text
dev/data/snara.verbs.final.xml -text
dev/eval/eval.2010-03.apertium.txt -text
dev/eval/eval.2010-05.apertium.txt -text
dev/eval/eval.2010-05.google.txt -text
dev/eval/eval.2010-05.icenlp.txt -text
dev/eval/eval.2010-05.tungutorg.txt -text
dev/example.dix -text
dev/icetagger.ruleset -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/is-isen-missing-list -text
dev/is-isen-missing-list.sh -text
dev/is-tags.mapping.txt -text
dev/run-testvoc.sh -text
dev/sorting/bidixSort.sh -text
dev/sorting/howto_run_bidixSort_recursively.txt -text
dev/sorting/temp_sorting/abbrev.xml -text
dev/sorting/temp_sorting/abbrev.xml.pseudo -text
dev/sorting/temp_sorting/abbrev.xml.restored -text
dev/sorting/temp_sorting/abbrev.xml.sorted -text
dev/sorting/temp_sorting/adj.xml -text
dev/sorting/temp_sorting/adj.xml.pseudo -text
dev/sorting/temp_sorting/adj.xml.restored -text
dev/sorting/temp_sorting/adj.xml.sorted -text
dev/sorting/temp_sorting/adv.xml -text
dev/sorting/temp_sorting/adv.xml.pseudo -text
dev/sorting/temp_sorting/adv.xml.restored -text
dev/sorting/temp_sorting/adv.xml.sorted -text
dev/sorting/temp_sorting/cnjsub.xml -text
dev/sorting/temp_sorting/cnjsub.xml.pseudo -text
dev/sorting/temp_sorting/cnjsub.xml.restored -text
dev/sorting/temp_sorting/cnjsub.xml.sorted -text
dev/sorting/temp_sorting/ij.xml -text
dev/sorting/temp_sorting/ij.xml.pseudo -text
dev/sorting/temp_sorting/ij.xml.restored -text
dev/sorting/temp_sorting/ij.xml.sorted -text
dev/sorting/temp_sorting/np_ant.xml -text
dev/sorting/temp_sorting/np_ant.xml.pseudo -text
dev/sorting/temp_sorting/np_ant.xml.restored -text
dev/sorting/temp_sorting/np_ant.xml.sorted -text
dev/sorting/temp_sorting/np_top.xml -text
dev/sorting/temp_sorting/np_top.xml.pseudo -text
dev/sorting/temp_sorting/np_top.xml.restored -text
dev/sorting/temp_sorting/np_top.xml.sorted -text
dev/sorting/temp_sorting/prep.xml -text
dev/sorting/temp_sorting/prep.xml.pseudo -text
dev/sorting/temp_sorting/prep.xml.restored -text
dev/sorting/temp_sorting/prep.xml.sorted -text
dev/sorting/temp_sorting/vblex.xml -text
dev/sorting/temp_sorting/vblex.xml.pseudo -text
dev/sorting/temp_sorting/vblex.xml.restored -text
dev/sorting/temp_sorting/vblex.xml.sorted -text
dev/testvoc-summary.txt -text
/eng-isl.prob -text svneol=unset#unset
/icenlpApertium.sh -text
/isl-eng.prob -text
/lexchoicebil.xsl -text
/modes.xml -text
/pending-tests.sh -text
/pipeline.txt -text
/pipelineApertium.sh -text
/regression-tests-Ice.sh -text
/regression-tests.sh -text
/run-tests.sh -text
/runIceNLPServer.sh -text
