* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-is-en.en.dix -text
/apertium-is-en.is-en.dix -text
/apertium-is-en.is-en.lex -text
/apertium-is-en.is-en.rlx -text
/apertium-is-en.is-en.t1x -text
/apertium-is-en.is-en.t2x -text
/apertium-is-en.is-en.t3x -text
/apertium-is-en.is-en.t4x -text
/apertium-is-en.is.dix -text
/apertium-is-en.is.tsx -text
/apertium-is-en.post-en.dix -text
/autogen.sh -text
/configure.ac -text
/demo.sh -text
/detailedDemo.sh -text
dev/NOTES -text
dev/apertium-is-en.is-en.dix.sorted -text
dev/data/adj3.OUT.sorted -text
dev/data/adv3.OUT.sorted -text
dev/data/apertium-is-en.is-en.dix.sorted -text
dev/data/is-en.freelang.xml -text
dev/data/is-en.interwiki.xml -text
dev/data/is-en.wiktionary.xml -text
dev/data/is.wordlist.txt -text
dev/data/is_en.txt -text
dev/data/mánuðir -text
dev/data/newResults.txt.adverbs.xml -text
dev/data/newResults.txt.conj.xml -text
dev/data/newResults.txt.interj.xml -text
dev/data/newResults.txt.leftovers -text
dev/data/newResults.txt.num.xml -text
dev/data/newResults.txt.preps.xml -text
dev/data/nouns3.OUT.sorted -text
dev/data/results.txt.adj.xml -text
dev/data/results.txt.leftovers -text
dev/data/results.txt.nouns.xml -text
dev/data/results.txt.verbs.xml -text
dev/data/verbs3.OUT.sorted -text
dev/example.dix -text
dev/icetagger.ruleset -text
dev/inconsistency.sh -text
dev/is-tags.mapping.txt -text
dev/sorting/bidixSort.sh -text
dev/sorting/howto_run_bidixSort_recursively.txt -text
dev/sorting/temp_sorting/abbrev.xml -text
dev/sorting/temp_sorting/abbrev.xml.pseudo -text
dev/sorting/temp_sorting/abbrev.xml.restored -text
dev/sorting/temp_sorting/abbrev.xml.sorted -text
dev/sorting/temp_sorting/adj.xml -text
dev/sorting/temp_sorting/adj.xml.pseudo -text
dev/sorting/temp_sorting/adj.xml.restored -text
dev/sorting/temp_sorting/adj.xml.sorted -text
dev/sorting/temp_sorting/adv.xml -text
dev/sorting/temp_sorting/adv.xml.pseudo -text
dev/sorting/temp_sorting/adv.xml.restored -text
dev/sorting/temp_sorting/adv.xml.sorted -text
dev/sorting/temp_sorting/cnjsub.xml -text
dev/sorting/temp_sorting/cnjsub.xml.pseudo -text
dev/sorting/temp_sorting/cnjsub.xml.restored -text
dev/sorting/temp_sorting/cnjsub.xml.sorted -text
dev/sorting/temp_sorting/ij.xml -text
dev/sorting/temp_sorting/ij.xml.pseudo -text
dev/sorting/temp_sorting/ij.xml.restored -text
dev/sorting/temp_sorting/ij.xml.sorted -text
dev/sorting/temp_sorting/np_ant.xml -text
dev/sorting/temp_sorting/np_ant.xml.pseudo -text
dev/sorting/temp_sorting/np_ant.xml.restored -text
dev/sorting/temp_sorting/np_ant.xml.sorted -text
dev/sorting/temp_sorting/np_top.xml -text
dev/sorting/temp_sorting/np_top.xml.pseudo -text
dev/sorting/temp_sorting/np_top.xml.restored -text
dev/sorting/temp_sorting/np_top.xml.sorted -text
dev/sorting/temp_sorting/prep.xml -text
dev/sorting/temp_sorting/prep.xml.pseudo -text
dev/sorting/temp_sorting/prep.xml.restored -text
dev/sorting/temp_sorting/prep.xml.sorted -text
dev/sorting/temp_sorting/vblex.xml -text
dev/sorting/temp_sorting/vblex.xml.pseudo -text
dev/sorting/temp_sorting/vblex.xml.restored -text
dev/sorting/temp_sorting/vblex.xml.sorted -text
/en-is.prob -text svneol=unset#unset
/icetaggerApertium.sh -text
/icetaggerClientApertium.sh -text
/is-en.prob -text
/modes.xml -text
/pending-tests.sh -text
/pipeline.txt -text
/pipelineApertium.sh -text
/pipelineIce.sh -text
/pipelineIceClient.sh -text
/regression-tests-Ice.sh -text
/regression-tests.sh -text
/run-tests.sh -text
